/* Add a green text color and a checkmark when the requirements are right */
.reg_psw_valid {
    color: green;
}

.reg_psw_valid:before {
    position: relative;
    left: -35px;
    content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.reg_psw_invalid {
    color: #ff2819;
}

.reg_psw_invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
}

/* ------------------------------------------------------------------------------ */
.AJDWP_form, form.wc-forgot-pwd-form, form.change_password_css  {
    max-width: 600px;
}

.alert.alert-danger, .alert.alert-success {
    max-width: 600px;
    margin-top: 15px;
}
/* ------------------------------------------------------------------------------ */

.AJDWP_errors {
    color: #ff2819;
    padding: 1rem;
}

.reg_user_submit, .chg_psw_submit, .new_password_reset_submit{
    cursor: not-allowed;
}

/* The reg_psw_message box is shown when the user clicks on the password field */
#reg_psw_message, #chg_psw_message, #rpf_psw_message {
    display:none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
}

#reg_psw_message p, #chg_psw_message p, #rpf_psw_message p {
    padding: 10px 35px;
    font-size: 18px;
}



/* //--------------------------- User Profile Popup Styles ---------------------------// */
/* Style for the selected image */
img.avatar.avatar-100.photo.rounded-circle.border.shadow.lazyloaded {
    filter: drop-shadow(0px 0px 8px black);
    margin-left: 25px;
}
/* Style for the toggle switch */
.toggle-switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    filter: drop-shadow(1px 2px 5px black);
}

.toggle-switch input {
    display: none;
}

.toggle-switch label {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 20px;
    background-color: #ccc;
    border-radius: 10px;
    cursor: pointer;
}

.toggle-switch input:checked + label {
    background-color: #ff2819;
}

.toggle-switch label:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    width: 16px;
    height: 16px;
    background-color: #fff;
    border-radius: 50%;
    transition: 0.3s;
}

.toggle-switch input:checked + label:after {
    left: calc(160% - 16px);
    transform: translate(-160%, -50%);
}

table#social-links-table tbody tr th {
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 30px !important;
    border: none !important;
}

table#social-links-table tbody tr td {
    border: none !important;
    width: 400px;
}

div#set-user-avatar-container > img#selected-image {
    border: 3px solid #333;
    border-radius: 3px;
    padding: 2px;
    margin-left: 3rem;
}

table.form-table > tbody {
    border: 1px solid #333;
    border-radius: 3px !important;
}

/* //--------------------------- toggle buttons to open and hide user profile details and table of social media ---------------------------// */
.user-profile-toggle-btn {
    background-color: #ff2819;
    color: white;
    border: none;
    cursor: pointer !important;
    font-size: 16px;
    border-radius: 100%;
    padding: 0px 8px 2px 8px;
    filter: drop-shadow(0px 1px 2px black);
}

.user-profile-toggle-btn:focus {
    outline: none;
}

#social-links-container {
    margin-bottom: 20px;
}
